/WT/Assignments-5/Assignment 5/nbproject/private/
/WT/Assignments-5/Assignment 5/build/
/WT/Assignments-5/Assignment 5/web/
/WT/Assignments-5/Assignment 5/dist/
/WT/Assignment 5/nbproject/private/
/WT/Assignment 5/build/
/WT/Assignment 6/nbproject/private/
/WT/Assignment-6/Assignment 6/nbproject/private/
/WT/Assignment-6/Assignment 6/build/
/WT/Assignment 6/build/
/WT/WT-Assignments-/Assignment 10/Bank/Bank-ejb/build/
/WT/WT-Assignments-/Assignment 10/Bank/Bank-ejb/dist/
/WT/WT-Assignments-/Assignment 10/Bank/Bank-ejb/nbproject/private/
/WT/WT-Assignments-/Assignment 10/Bank/Bank-war/build/
/WT/WT-Assignments-/Assignment 10/Bank/Bank-war/dist/
/WT/WT-Assignments-/Assignment 10/Bank/Bank-war/nbproject/private/
/WT/WT-Assignments-/Assignment 10/Bank/build/
/WT/WT-Assignments-/Assignment 10/Bank/dist/
/WT/WT-Assignments-/Assignment 10/Bank/nbproject/private/
/WT/Assignment-10/Assignment 10/Bank/Bank-ejb/build/
/WT/Assignment-10/Assignment 10/Bank/Bank-ejb/dist/
/WT/Assignment-10/Assignment 10/Bank/Bank-ejb/nbproject/private/
/WT/Assignment-10/Assignment 10/Bank/Bank-war/build/
/WT/Assignment-10/Assignment 10/Bank/Bank-war/dist/
/WT/Assignment-10/Assignment 10/Bank/Bank-war/nbproject/private/
/WT/Assignment-10/Assignment 10/Bank/build/
/WT/Assignment-10/Assignment 10/Bank/dist/
/WT/Assignment-10/Assignment 10/Bank/nbproject/private/
